<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--in millesecondi / 1 secondo = 1000-->
    <add key="INTERVALLOATTIVITA" value="90000" />
    <add key="queueFile" value="D:\Documenti\GitHub\FatturazioneElettronica\Queue.xml" />
    <add key="sendedFile" value="D:\Documenti\GitHub\FatturazioneElettronica\Sended.xml" />
    <add key="IdPaese" value="IT" />
    <add key="IdCodice" value="CRVGRL86E02L682F" />
    <add key="PartitaIva" value="03195340124" />
    <add key="Denominazione" value="BUBUSETTETE S.N.C." />
    <add key="AliquotaIVA" value="22.00" />
    <add key="Telefono" value="123" />
    <add key="Email" value="123" />
    
    <!--Sede-->
    <add key="Indirizzo" value="Piazza Sant'Evasio, 1" />
    <add key="CAP" value="21100" />
    <add key="Comune" value="Varese" />
    <add key="Provincia" value="VA" />
    <add key="Nazione" value="IT" />
    
    <!--IscrizioneREA-->
    <add key="Ufficio" value="Piazza Sant'Evasio, 1" />
    <add key="NumeroREA" value="Piazza Sant'Evasio, 1" />
    <add key="SocioUnico" value="Piazza Sant'Evasio, 1" />
    <add key="StatoLiquidazione" value="Piazza Sant'Evasio, 1" />
         
  </appSettings>
  <connectionStrings>
    <add name="bubusetteteaccdb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Documenti\Bubusettete.accdb" />
    <add name="bubusetteteaccdbJET" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Documenti\Bubusettete.accdb; Persist Security Info=True" />
  </connectionStrings>
</configuration>