<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--in millesecondi / 1 secondo = 1000-->
    <add key="INTERVALLOATTIVITA" value="90000" />
    <add key="queueFile" value="D:\Documenti\GitHub\FatturazioneElettronica\Queue.xml" />
    <add key="sendedFile" value="D:\Documenti\GitHub\FatturazioneElettronica\Sended.xml" />
  </appSettings>
  <connectionStrings>
    <add name="bubusetteteaccdb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Documenti\Bubusettete.accdb" />
  </connectionStrings>
</configuration>